.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 25px;
	border: 5px solid gray;
	border-radius: 50%;
	border-left-color: transparent;
	animation: loader 1s infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.container {
	max-width: 1280px;
	width: 500px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	background-color: rgb(181, 221, 221);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
}

.task-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 5px;
	padding: 5px;
	background-color: rgb(228, 231, 230);
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	height: 100%;
	/* max-height: 600px;
	overflow-y: auto; */
}

.task-page p {
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	max-width: 100%;
	text-align: center;
}

.action-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.action-buttons button {
	height: 50px;
	width: 50px;
	margin-left: 10px;
	border: 1px solid black;
	color: white;
	font-size: 22px;
	padding: 0;
}

.action-buttons button:hover {
	opacity: 0.7;
}

.action-button-confirm {
	background-color: rgb(61, 116, 61);
}

.action-button-completed {
	background-color: rgb(167, 177, 76);
}

.action-button-delete {
	background-color: rgb(148, 58, 58);
}

.action-button-edit {
	background-color: rgb(74, 106, 175);
}

.completed {
	text-decoration: line-through;
}
