p {
	padding-left: 10px;
	margin: 0;
	line-height: 1.2;
	/* font-weight: bold; */
	font-size: 18px;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 5px;
	padding: 5px;
	background-color: rgb(228, 231, 230);
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}

.action-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.action-buttons button {
	height: 50px;
	width: 50px;
	margin-left: 10px;
	border: 1px solid black;
	color: white;
	font-size: 22px;
	padding: 0;
}

.action-buttons button:hover {
	opacity: 0.7;
}

.action-button-confirm {
	background-color: rgb(61, 116, 61);
}

.action-button-completed {
	background-color: rgb(167, 177, 76);
}

.action-button-delete {
	background-color: rgb(148, 58, 58);
}

.action-button-edit {
	background-color: rgb(74, 106, 175);
}

.completed {
	text-decoration: line-through;
}
