.app {
	max-width: 1280px;
	width: 500px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	background-color: rgb(181, 221, 221);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 25px;
	border: 5px solid gray;
	border-radius: 50%;
	border-left-color: transparent;
	animation: loader 1s infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
